[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/*"]
	abandon = group OnePlus5/5t
	create = group OnePlus5/5t
	deleteOwnChanges = group OnePlus5/5t
	forgeAuthor = group OnePlus5/5t
	forgeCommitter = group OnePlus5/5t
	label-Code-Review = -2..+2 group OnePlus5/5t
	push = +force group OnePlus5/5t
	pushMerge = group OnePlus5/5t
	rebase = group OnePlus5/5t
	submit = group OnePlus5/5t
